body {
    font-size: 120%;
}

.footnote-definition-label {
    float: left;
    padding-right: 5px;
}

.footnote-definition-label::before {
    content: "[";
}

.footnote-definition-label::after {
    content: "]";
}

.zola-anchor {
    font-size: 1.25rem;
    margin-left: -2rem;
    margin-right: 0.3rem;
    position: relative;
    top: -5px;
}

.article-metadata {
    font-style: italic;
    margin: 0px;
    font-size: 90%;
}

.article-header {
    margin-top: 0px;
    margin-bottom: 30px;
}
